
.catalog-items {
	/* TODO DMITRIY: как сделать это нормально и красиво??
	если использовать флекс, то либо свободное место справла, либо центрируются по центру элементы в неполном ряде
	если использовать grid, то нет возмождность сделать так, чтобы размер картинки был главным +
	если в столбце 1 элемент, то он не центрируется */

	/* Также проблема в том, что я хочу жестко задать размер картинки (не только по ширине, но и по высоте) */

	display: grid;
	grid-template-columns: repeat(4, minmax(0px, 1fr)); /* 1fr позволяет равномерно делить пространство */
	gap: 25px; /* Задает и горизонтальный, и вертикальный промежуток */
	overflow: visible; /* Сделал на всякий случай для фичи с увиличением карточки товара при наведении на нее */
}

/* Узкие экраны — одна колонка */
@media (max-width: 500px) {
	.catalog-items {
		display: grid;
		grid-template-columns: repeat(2, minmax(0px, 1fr)); /* 1fr позволяет равномерно делить пространство */
		gap: 25px; /* Задает и горизонтальный, и вертикальный промежуток */
		overflow: visible; /* Сделал на всякий случай для фичи с увиличением карточки товара при наведении на нее */
	}
}

