
.catalog-items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); /* 1fr позволяет равномерно делить пространство */
	gap: 25px; /* Задает и горизонтальный, и вертикальный промежуток */
	overflow: visible; /* Сделал на всякий случай для фичи с увиличением карточки товара при наведении на нее */
}

@media (max-width: 2000px) {
	.catalog-items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); /* 1fr позволяет равномерно делить пространство */
		gap: 25px; /* Задает и горизонтальный, и вертикальный промежуток */
		overflow: visible; /* Сделал на всякий случай для фичи с увиличением карточки товара при наведении на нее */
	}
}

@media (max-width: 500px) {
	.catalog-items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)); /* 1fr позволяет равномерно делить пространство */
		gap: 25px; /* Задает и горизонтальный, и вертикальный промежуток */
		overflow: visible; /* Сделал на всякий случай для фичи с увиличением карточки товара при наведении на нее */
	}
}

