
.catalog-item {
    width: auto;
}

.catalog-item:hover {
	transform: scale(1.07);
}

.catalog-item-image {
	width: 100%;
	height: auto;
}

.catalog-item p {
    margin-top: 10px;
    margin-bottom: 10px;

    display: -webkit-box;			/* Устанавливаем flex-контейнер */
    -webkit-box-orient: vertical;	/* Задаём вертикальную ориентацию */
    overflow: hidden;				/* Обрезаем текст, если он превышает заданные строки */
    text-overflow: ellipsis;		/* Добавляем троеточие (...) */
	line-clamp: 2;					/* Ограничиваем количество строк (2) */
    -webkit-line-clamp: 2;			/* Ограничиваем количество строк (2) */
    line-height: 20px;
}
