.catalog-item:hover {
	transform: scale(1.03);
}

.catalog-item-image {
	/* TODO DMITRIY: можно просто использовать width, а не min-width и max-width?? */
	min-width: 100%;
	max-width: 100%;
}

.catalog-item p {
	margin-top: 10px;
	margin-bottom: 10px;

	display: -webkit-box;			/* Устанавливаем flex-контейнер */
	-webkit-box-orient: vertical;	/* Задаём вертикальную ориентацию */
	overflow: hidden;				/* Обрезаем текст, если он превышает заданные строки */
	text-overflow: ellipsis;		/* Добавляем троеточие (...) */
	line-clamp: 2;					/* Ограничиваем количество строк (2) */
	-webkit-line-clamp: 2;			/* Ограничиваем количество строк (2) */
	line-height: 20px;
}
