
.catalog-items {
	display: grid;
	grid-template-columns: repeat(4, minmax(0px, 1fr)); /* 1fr позволяет равномерно делить пространство */
	gap: 25px; /* Задает и горизонтальный, и вертикальный промежуток */
	overflow: visible; /* Сделал на всякий случай для фичи с увиличением карточки товара при наведении на нее */
}
