

.filter-checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
	gap: 5%;
}

.filter-checkbox input {
	display: none;
}

.checkbox-box {
	width: 0.7em;
	height: 0.7em;
	border: 3px solid var(--dark-grey);
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.checkmark {
	width: 150%;
	height: 150%;
}

.checkbox-label {
	font-size: 16px;
	color: var(--black);
}
