
.outer-window-filters {

	z-index: 999; /* Чтобы было перед списком вещей */
	position: absolute;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    gap: 10px;

	max-height: 30%;

	width: 23%;
	padding: 1%;

	background-color: var(--middle-grey);
	border: 2px solid var(--dark-grey);
}
