
.outer-window-filters {

	z-index: 10; /* Чтобы было перед списком вещей */
	position: absolute;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    gap: 10px;

	max-height: 30%;

	width: 20%;
    padding: 1%;

    background-color: #D9D9D9;
    border: 2px solid var(--dark-grey);
}
