

.filter-buttons-wrapper {
	display: flex;
	gap: 10px;
	margin-bottom: 15px;
}

.filter-activation-button {
	padding: 10px;
	cursor: pointer;
	font-size: 33px;

	color: var(--white);
	background-color: var(--black);
	border: 3px solid var(--dark-grey);
}

.filter-activation-button:active {
	scale: 0.97;
}

.filter-reset-button {
	padding: 10px;
	cursor: pointer;
	font-size: 33px;

	color: var(--white);
	background-color: var(--red);
	border: 3px solid var(--dark-grey);
}

.filter-reset-button:active {
	scale: 0.97;
}


