
.database-item {
    width: 200px;
    z-index: 1;
}


.database-image-container {
	width: 200px;
    height: 200px;
	background-color: white;
    position: relative;
    display: inline-block;
}


.database-item-image {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

	/* Центрируем изображение */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.database-item p {

    margin-top: 10px;
    margin-bottom: 10px;

    display: -webkit-box;			/* Устанавливаем flex-контейнер */
    -webkit-box-orient: vertical;	/* Задаём вертикальную ориентацию */
    overflow: hidden;				/* Обрезаем текст, если он превышает заданные строки */
    text-overflow: ellipsis;		/* Добавляем троеточие (...) */
	line-clamp: 2;					/* Ограничиваем количество строк (2) */
    -webkit-line-clamp: 2;			/* Ограничиваем количество строк (2) */
    line-height: 20px;
}
