
.upload-page-input {
    text-align: center;
    border-top: 2px solid var(--dark-grey);
    border-left: 2px solid var(--dark-grey);
    border-right: none;
    border-bottom: none;
    height: 40px;
}