/* форма загрузки со всеми полями ввода */

.upload-page-form {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.upload-form-inputs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 25px;
}

/* Узкие экраны — одна колонка */
@media (max-width: 500px) {
	.upload-form-inputs {
		grid-template-columns: 1fr;
	}
}
