
.database-item {
    width: 200px;
    /*height: 320px;*/
}


.database-item:hover {
    background-color: #717171;
    transform: scale(1.1); /* Увеличение объекта */
}

.database-item img {
    object-fit: contain;
    width: 100%;
}


.database-item p {
    display: -webkit-box;           /* Устанавливаем flex-контейнер */
    -webkit-box-orient: vertical;  /* Задаём вертикальную ориентацию */
    overflow: hidden;              /* Обрезаем текст, если он превышает заданные строки */
    text-overflow: ellipsis;       /* Добавляем троеточие (...) */
    -webkit-line-clamp: 2;         /* Ограничиваем количество строк (2) */
}