

/* Контейнер с загруженными картинками  */
.image-container {
    display: grid;
	max-width: auto;
	max-height: 300px;
	overflow-y: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* Конкретная картинка */
.image-item {
	max-width: 200px;
	max-height: 200px;
}
