.labeled_element {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px; /*расстояние между элементами грида */
     margin-bottom: 20px; /* отступ от дна элемента */
	align-self: start; /* центрируем по верхнему краю грида */
}

.labeled_element label {
    align-self: center;
}

.labeled_element input,
.labeled_element textarea,
.labeled_element select {
    padding: 8px;
    border: 1px solid #000000;
	background-color: lightblue;
    border-radius: 4px;
    font-size: 16px;
}

.labeled_element select {
	text-align: center; /* Попытка центрирования текста */
}

