.labeled_element {
    display: grid; /* Используем Grid для размещения элементов */
    grid-template-columns: 100px auto; /* Первая колонка — ширина label, вторая занимает оставшееся пространство */
	grid-auto-rows: 50px; /* Фиксированная высота для всех строк */
	grid-auto-columns: 50px; /* Фиксированная высота для всех строк */
    gap: 10px; /* Отступ между колонками */
    margin-bottom: 15px; /* Отступ снизу между группами */
}

.labeled_element label {
    align-self: center; /* Центрируем label по вертикали */
}

.labeled_element input,
.labeled_element textarea,
.labeled_element select {
    padding: 8px; /* Отступы внутри поля ввода */
    border: 1px solid #ccc; /* Рамка для поля ввода */
    border-radius: 4px; /* Закругленные углы */
    font-size: 16px; /* Размер шрифта */
}

.labeled_element select {
	text-align: center; /* Попытка центрирования текста */
}

