
/* форма загрузки со всеми полями ввода */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
}

/* конкретное поле ввода */
.grid-item {
    padding: 30px;
    text-align: center;
}
