/* форма загрузки со всеми полями ввода */

.upload-page-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.upload-form-texts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}

.upload-form-item {
    width: 40%; /* занимает 30% ширины родителя */
    min-width: 150px; /* чтобы не схлопнулся на узких экранах */
}