
.image-with-cross-deleteble {

	/* TODO Dmitriy: нужно ли использовать мин-макс*/
	min-width: 200px;
	max-width: 200px;
	height: auto;
	position: relative;
}

/* Узкие экраны — одна колонка */
@media (max-width: 500px) {
	.image-with-cross-deletable {
		min-width: 100px;
		max-width: 100px;
		height: auto;
		position: relative;
	}
}


.image-with-cross {
	/* Картинка должна быть не больше контейнера */
	width: 100%;
	height: 100%;
}

.cross-icon-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
}

.cross-icon {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
