
.deletable-image-container {
    position: relative;
    display: inline-block;
}

.deletable-image {
    max-width: 200px;  /* Изображение не будет больше 200px по ширине */
    max-height: 200px; /* Изображение не будет больше 200px по высоте */
    width: auto;
    height: auto;

    border-top: 2px solid #B2B4B5;
    border-left: 2px solid #B2B4B5;
}

.delete-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
}
