
.deletable-image-container {
	width: 25%;
	height: auto;
	position: relative;
	display: inline-block;
}

.deletable-image {
	/* Картинка должна быть не больше контейнера */
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.delete-icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
}
