
.deletable-image-container {

	min-width: 150px;
	max-width: 150px;
	height: auto;
	position: relative;
}

.deletable-image {
	/* Картинка должна быть не больше контейнера */
	max-width: 100%;
	max-height: 100%;
}

.delete-icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
}
