
/* Стили для картинки в ImageViewer */
.image-with-cross-image-viewer {
	max-width: 200px;
}

/* Контейнер с загруженными картинками  */
.image-viewer {
	display: flex;
	overflow-x: auto;
	gap: 10px;
}

/* Стили для текста при отсутствии изображений */
.image-viewer p {
	flex-grow: 1;
	text-align: center;
}
