
.image-container {
	position: relative;
}

.modal-window-image {
	max-width: 90vw;
	max-height: 90vh;
	position: relative;
	cursor: default;
}

.cross-icon-button-database {
	position: absolute;
	top: 0;
	right: 0;

	padding-top: 13px;
	padding-right: 10px;
	border: none;
	background: none;
	cursor: pointer;
	opacity: 0.9;
}

.cross-icon-button-database:hover {
	opacity: 1;
}

.cross-icon {
	display: block;
	width: 25px;
	height: 25px;
}
