

.filter-checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
	gap: 10px;
}

.filter-checkbox input {
	display: none;
}

.checkbox-box {
	width: 1.0em;
	height: 1.0em;
	border: 3px solid var(--dark-grey);
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.checkmark {
	min-width: 1em;
	max-width: 1em;
}

.checkbox-label {
	font-size: 16px;
	color: var(--black);
}
