
.main-page-nav-icons {
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        column-gap: 5%;
        row-gap: 5%;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        padding: 5%;
}
