.inner-window {
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	height: 100%;
	min-height: 0;

	overflow-y: auto;
	overflow-x: hidden;

	background-color: var(--light-grey);
	border-top: 2px solid var(--dark-grey);
	border-left: 2px solid var(--dark-grey);
}

.inner-window-filters {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
