.outer-window {
    display: flex;
    flex-direction: column;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 7px;

    width: 600px;
    height: 600px;
    background-color: #D9D9D9;
    border: 2px solid #B2B4B5;
}

.header-part {
    height: 4%;
    display: flex;
}

.button-layer-part {
    height: 7%;
    display: flex;
}

.inner-window-part {
    flex-grow: 1;
    display: flex;
}