.outer-window {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 7px;

	width: 90vw;
	height: 90vh;

	background-color: var(--middle-grey);
	border: 2px solid var(--dark-grey);
}

.header-part {
	height: 20px;
	display: flex;
}

.button-layer-part {
	padding: 5px;
	display: flex;
}

.inner-window-part {
	flex: 1 1 0;
	min-height: 0;
	display: flex;
}


.outer-window-filters {
	display: flex;
	flex-direction: column;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 7px;

	max-height: 30%;
	max-width: 30%;
	background-color: var(--middle-grey);
	border: 2px solid var(--dark-grey);
}

.outer-window-image-manager {
	display: flex;
	flex-direction: column;

	justify-content: space-evenly;
	gap: 10px;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 7px;

	background-color: var(--middle-grey);
	border: 2px solid var(--dark-grey);
}

.notification-outer-window {
	display: flex;
	flex-direction: column;

	justify-content: space-evenly;
	gap: 10px;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 7px;

	background-color: var(--middle-grey);
	border: 2px solid var(--dark-grey);
}
