.outer-window {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 7px;

	/* TODO  DMITRIY (обязательно ли выставлять мин макс, чтобы гарантировать размер?) */
	min-width: 90vw;
	max-width: 90vw;
	min-height: 90vh;
	max-height: 90vh;

	background-color: var(--middle-grey);
	border: 2px solid var(--dark-grey);
}

.header-part {
	/* TODO Dmitriy: почему это не работает? Сжимает, если использовать height */
	/* height: 20px; */
	min-height: 20px;
	display: flex;
}

.button-layer-part {
	padding: 10px;
	display: flex;
}

.inner-window-part {
	flex: 1 1 0;
	min-height: 0;
	display: flex;
}


.outer-window-filters {
	display: flex;
	flex-direction: column;
	width: fit-content;
	align-self: flex-start;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 7px;

	background-color: var(--middle-grey);
	border: 2px solid var(--dark-grey);
}

.outer-window-image-manager {
	display: flex;
	flex-direction: column;

	justify-content: space-evenly;
	gap: 10px;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 7px;

	background-color: var(--middle-grey);
	border: 2px solid var(--dark-grey);
}

.notification-outer-window {
	display: flex;
	flex-direction: column;

	justify-content: space-evenly;
	gap: 10px;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 7px;

	background-color: var(--middle-grey);
	border: 2px solid var(--dark-grey);
}
