.nav-icon {
	display: flex;
	flex-direction: column;

	gap: 15px;
	padding: 10px;

	max-width: 130px;
	min-width: 50px;

	align-items: center;
	justify-content: center;

	cursor: pointer;
}

.nav-icon:hover {
	background-color: var(--dark-grey);
}

.nav-icon:active {
	background: var(--dark-grey);
	border-top: 3px solid var(--black);
	border-left: 3px solid var(--black);
}

.nav-icon-image {
	max-width: 100%;
}
