
.filter-button {
	width: 200px;
	height: 45px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	color: var(--white);
	background-color: var(--black);
	border: 3px solid var(--dark-grey);
}

.filter-button img {
	align-items: right;
	max-width: 25px;
}
