
.filter-activation-button {

    /*TODO удалить*/
    margin: 2% 0% 0% 2%;

    padding: 10px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--black);

    border: 2px solid var(--dark-grey);
}


