

/* Контейнер с загруженными картинками  */
.image-container {
    display: flex;
	width: auto;
	align-items: center;   /* Центрирует содержимое ячеек по вертикали */
	max-height: 300px;
	overflow-x: auto;
    gap: 10px;
}

/* Стили для текста при отсутствии изображений */
.image-container p {
	flex-grow: 1;
    text-align: center;
}

/* Конкретная картинка */
.image-item {
	max-width: 200px;
	max-height: 200px;
}
