@import './Styles/Colors.css';


/*базовый файл со стилями для проекта*/

html, body, #root {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	font-family: "Terminess Nerd Font", sans-serif;
	font-weight: 700;
}

button,
input,
select,
textarea {
	font-family: inherit;
}


/* Учитываем границы в размерах элементов во всем проекте */
*, *::before, *::after {
	box-sizing: border-box;
}

/* Убираем baseline для всех картинок в проекте */
img {
	display: block;
	max-width: 100%;
}
