@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import './Styles/Colors.css';


/*базовый файл со стилями для проекта*/

body {
	font-family: "Pixelify Sans", sans-serif;
}

button,
input,
select,
textarea {
	font-family: inherit;
}


/* Учитываем границы в размерах элементов во всем проекте */
*, *::before, *::after {
	box-sizing: border-box;
}

/* Убираем baseline для всех картинок в проекте */
img {
	display: block;
	max-width: 100%;
}
