.images-and-description-wrapper {
	display: flex;
	width: 100%;
	min-width: 0;
	min-height: 0;
	align-items: flex-start;
}

.description {
	flex: 1 1 0;
	min-width: 0;

	position: sticky;
	top: 0;
	align-self: flex-start;
}

.images {
	flex: 2 1 0;
	min-width: 0;
	padding: 2%;

	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 10px;
}
.images img {
	width: 100%;
	height: auto;
}

.item-image-button {
	display: block;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	width: 100%;
}

.item-image-button img {
	width: 100%;
	height: auto;
}
