.images-and-description-wrapper {
	display: flex;
	width: 100%;
	min-width: 0;
	overflow-y: auto;
}

.description {
	flex: 1 1 0;
	min-width: 0;
}

.images {
	flex: 2 1 0;
	min-width: 0;

	padding: 2%;
	box-sizing: border-box;

	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 10px;
}

.images img {
	width: 100%;
	height: auto;
	display: block;
}
